.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(159, 200, 216);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* 
.App-link {
  color: #61dafb;
}

a:hover {
  color:pink;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myList {
  display: flex;
  justify-content: space-evenly;
}

.todoItem {
  font-size: 60px;
  font-family: monospace;
  color: brown;
}

.button {
  padding: 20px;
  background-color: coral;
  border-radius: 10px;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
  color: white;
  font-size: 35px;
  background-color: violet;
} */

.joke-header {
  color: rgb(5, 24, 41);
  font-size: 36px;
  font-style: normal;;
  text-decoration: none;
  height: 40px;
  text-transform: uppercase;


}

.joke-component {
  background-color: rgb(37, 87, 107);
  overflow: hidden;
  text-decoration: none;
  box-sizing: border-box;
  width: 800px;
}


.joke-component a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 30px;;
  text-decoration: none;
  font-size: 20px;
  width: 100px;
}


.joke-component a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 2px
}

.get-button {
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:17px 24px;
  text-decoration:none;
  margin-top: 20px;
}
.get-button:hover {
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	background-color:#e9e9e9;
}
.get-button:active {
	position:relative;
	top:1px;
}

.the-jokes {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.punchlines {
  background-color: lightcyan;
  border: 2px solid silver;
}
.punchlines p {
  width: 1050px;
}